
stages:
  - build_image
  - build
  - test

variables:
  # Set unique name for the Docker image.
  IMAGE_TAG: $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA
  # Use the latest Docker image for caching a new build.
  IMAGE_TAG_CACHE: $CI_REGISTRY_IMAGE:latest

# BUILD TEX LIVE DOCKER IMAGE
build_texlive_docker_image:
  stage: build_image
  image: docker:latest
  services:
    # Run Docker daemon (dind) as a separate service.
    - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ""
  before_script:
    - docker info
    # Login to the GitLab Container Registry.
    - docker login -u $CI_REGISTRY_USER -p $CI_JOB_TOKEN $CI_REGISTRY
  script:
    # Exit the image generate if the image exists.
    - |
      if docker manifest inspect $IMAGE_TAG_CACHE > /dev/null 2>&1; then
        echo "Image already exists; skipping rebuild."
        exit 0
      fi
    # Pull the previous image from the registry to use it as a cache source.
    - docker pull $IMAGE_TAG_CACHE || true # '|| true' handles missing images.
    # Build the image using the Dockerfile in the root folder.
    - docker build -f Dockerfile.texlive --cache-from $IMAGE_TAG_CACHE -t $IMAGE_TAG .
    # Push the image to the Container Registry.
    - docker push $IMAGE_TAG
    # Add the stable 'latest' tag.
    - docker tag $IMAGE_TAG $IMAGE_TAG_CACHE
    - docker push $IMAGE_TAG_CACHE
    
# COMPILE DOCUMENT CLASS AND TYPESET ALL DOCUMENTS
compile_example:
  stage: build
  image: $IMAGE_TAG_CACHE
  needs:
    - job: build_texlive_docker_image
      optional: true
  script:
    # Build document class and example file.
    - sh ./build-all.sh
  artifacts:
    paths:
      - example.pdf # Output the compiled example file.
      - example.log # Output the compilation log for debugging.
    when: always
    expire_in: 1 month

# COMPARE TYPESETTING RESULT WITH REFERENCE
compare_with_reference:
  stage: test
  image: $IMAGE_TAG_CACHE
  needs: ["compile_example"]
  script:
    # Count the pages of the compiled example file and its reference.
    - pagecount=$(pdfinfo example.pdf | grep Pages | awk '{print $2}')
    - pagecount_ref=$(pdfinfo example-ref.pdf | grep Pages | awk '{print $2}')
    # Compare page counts and report error if they do not match.
    - if [ "$pagecount" -ne "$pagecount_ref" ]; then
        printf '%s\n' "Page count of generated example file does not match reference" >&2 &&
        exit 1;
      else
        printf '%s\n' "Page count of generated example file matches reference" >&2;
      fi
    # Generate per-page difference images between the example file and its reference.
    - |
      magick example.pdf null: example-ref.pdf \
        -compose difference -layers composite -channel a -separate \
        tests/diff_%d.png
    # Measure per-page differences between the example file and its reference.
    - |
      magick example.pdf null: example-ref.pdf \
        -compose difference -layers composite -channel a -separate -precision 12 \
        -format %[fx:mean]\n info: > tests/differences.dat
    # Get the largest difference across all pages.
    - difference=$(sort -g tests/differences.dat | tail -n 1 | awk '{ printf "%.20f", $1 }')
    # Check for non-zero differences and report error if difference detected.
    - if [ 1 -eq "$(echo "${difference} > 0" | bc -l)" ]; then
        printf '%s\n' "Generated example file does not match reference" >&2 &&
        exit 1;
      else
        printf '%s\n' "Generated example file matches reference" >&2;
      fi
  artifacts:
    paths:
      - tests/*.png # Output the difference images for debugging.
      - tests/*.dat # Output the per-page differences for debugging.
    when: always
    expire_in: 1 month

# ENSURE PDF-A COMPATIBILITY OF TYPESET DOCUMENTS
check_pdf_a:
  stage: test
  image:
    name: verapdf/cli:latest
    entrypoint: ["/bin/sh", "-c"]
  needs: ["compile_example"]
  script:
    # Validate the generated PDF.
    - /opt/verapdf/verapdf --format text example.pdf > pdfa_validation.txt
    - |
      if grep -q '^PASS' pdfa_validation.txt; then
        printf '%s\n' "Generated example file conforms to the PDF/A standard" >&2
      else
        printf '%s\n' "Generated example file does not conform to the PDF/A standard" >&2
        exit 1
      fi
  artifacts:
    paths:
      - pdfa_validation.txt
    when: always
    expire_in: 1 month
